@include aoa-bg-series($bg__init,$classes_init);

.about,.services{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .contact,.index,.services{
        &-s1{
            *{
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff!important;
            }
            background-color: #999;
            border: 1px solid #666;
            opacity:0.9;
        }
    }
}